main{
    display: flex;
    height: 100vh;
}

#list{
    background-color: aqua;
    flex: 2;
}

#form{
    background-color: lightpink;
    flex: 2;
}

.task{
    margin: 10px 20px;
    padding: 10px;
}

